apiVersion: apps/v1
kind: Deployment
metadata:
  name: silentpulse-operator
  namespace: {{ .Values.global.namespace }}
  labels:
    app.kubernetes.io/name: silentpulse-operator
    {{- include "silentpulse.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.operator.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: silentpulse-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: silentpulse-operator
    spec:
      serviceAccountName: silentpulse-operator
      terminationGracePeriodSeconds: 10
      containers:
        - name: operator
          image: {{ .Values.operator.image }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          args:
            - --leader-elect
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=:8080
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: probes
              containerPort: 8081
              protocol: TCP
          envFrom:
            - configMapRef:
                name: silentpulse-config
            - secretRef:
                name: silentpulse-secret
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
